__pycache__/
*.pyc
.venv/
venv/
data/vector_store/*
!data/vector_store/.gitkeep
data/local_db/*
!data/local_db/.gitkeep
backend/data/*
!backend/data/.gitkeep

*.db
*.h5
*.gguf
.pytest_cache/

# Node/React
node_modules/
dist/
# Environment variables
.env
*.env
.env.local
